<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Samson Goddy</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/mountain.css">

		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<style>
			@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

			@import url('https://fonts.googleapis.com/css?family=Exo+2:200|Quicksand');
			@import url('https://fonts.googleapis.com/css?family=Gudea|Heebo|Work+Sans');

			@import url('https://fonts.googleapis.com/css?family=Gudea|Poppins|Rozha+One|Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Charmonman|Cormorant+Upright|PT+Sans|Poiret+One|Ranga|Sacramento|Sedgwick+Ave|Srisakdi');</style>
	</head>
	<body>
		<div class="background">
    			<div class="layer"></div>
		</div>

		<div class='links' role="navigation">
			<div class="tagline">
				<div id="headline_name">Samson Goddy</div>
				<div id="line">__________________________</div>
				<div class="typewriter">
  					<h3>Doing something Iconic</h3>
				</div>
					<ul class="navLinks">
						<li><a class="nav" href="/portfolio">Portfolio</a></li>
						<li><a class="nav" href="/about">About</a></li>
					</ul>
					<ul class="social">
						<li class="mail"><a href="mailto:samsongoddy@gmail.com"><i class="fa fa-envelope" aria-label="send mail icon"></i></a></li>
						<li class="socialLinks"><a href="https://github.com/samswag"><i class="fa fa-github" aria-label="gituhub icon"></i></a></li>
						<li class="socialLinks"><a href="https://twitter.com/Samson_Goddy"><i class="fa fa-twitter" aria-label="twitter icon"></i></a></li>
						<li class="socialLinks"><a href="https://www.instagram.com/samsongoddy/"><i class="fa fa-instagram" aria-label="instagram icon"></i></a></li>
						<li class="socialLinks"><a href="https://linkedin.com/in/samsongoddy/"><i class="fa fa-linkedin"
									aria-label="LinkedIn icon"></i></a></li>
						<li class="socialLinks"><a href="https://linkedin.com/in/samsongoddy/"><i class="fa fa-medium"
			 	          aria-label="Medium icon"></i></a></li>
					</ul>
			</div>
		</div>
		</div>
	</body>
</html>
